<div class="row">
    <div class="col s12 m3">
        <div class="card center">
            <div class="waves-effect waves-block waves-light">
                <img class="circle z-depth-3" style="width: 150px; height: 150px; margin-top: 25px; margin-bottom: 15px;" src="https://github.com/AC-Aksan.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Alexi<br/>
                    <small><em><span class="{{ site.basecolor }}-text text-darken-1">AC-Aksan</span></em></small>
                </span>
                <p>
                    <a class="orange-text text-lighten-2" href="https://github.com/AC-Aksan">
                        <i class="material-icons">code</i>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card center">
            <div class="waves-effect waves-block waves-light">
                <img class="circle z-depth-3" style="width: 150px; height: 150px; margin-top: 25px; margin-bottom: 15px;" src="https://github.com/eddie-95.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Ed<br/>
                    <small><em><span class="{{ site.basecolor }}-text text-darken-1">eddie-95</span></em></small>
                </span>
                <p>
                    <a class="orange-text text-lighten-2" href="https://github.com/eddie-95">
                        <i class="material-icons">code</i>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card center">
            <div class="waves-effect waves-block waves-light">
                <img class="circle z-depth-3" style="width: 150px; height: 150px; margin-top: 25px; margin-bottom: 15px;" src="https://github.com/JamesMCo.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">James<br/>
                    <small><em><span class="{{ site.basecolor }}-text text-darken-1">JamesMCo</span></em></small>
                </span>
                <p>
                    <a class="orange-text text-lighten-2" href="https://github.com/JamesMCo">
                        <i class="material-icons">code</i>
                    </a>
                    <a class="orange-text text-lighten-2" href="https://mrjamesco.uk">
                        <i class="material-icons">public</i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>