<ul class="right hide-on-med-and-down">
                        <li {%- if page.navhighlight == "home" %} class="active" {%- endif -%} ><a href="/">Home</a></li>
                        <li {%- if page.navhighlight == "projects" %} class="active" {%- endif -%} ><a href="/projects">Projects</a></li>
                    </ul>
                    <ul id="mobilenav" class="side-nav">
                        <li class="{{ site.basecolor }}"><a class="white-text">CS</a></li>
                        <li {%- if page.navhighlight == "home" %} class="active" {%- endif -%} ><a href="/">Home</a></li>
                        <li {%- if page.navhighlight == "projects" %} class="active" {%- endif -%} ><a href="/projects">Projects</a></li>
                    </ul>